<h3>Welcome to Good Invoice!</h3>
<p> Over <%= User.count + 132 %> registered businesses sent a good invoice last week. <%= link_to 'Users:', users_path %> </p>
<p> Good invoice is an online, easy-to-use, email invoices for small businesses and freelance workers.</p>

<p>
  <a href="#">Check the pricing.</a>
</p>

<p>
  <a href="#">Start an account for free.</a>
</p>

<p>
  <a href="#">Send a good invoice now.</a>
</p>
