<% content_for :title do %>Demo<% end %>
<% content_for :demo do %>active<% end %>

<h3>Demo</h3>
<p>

  <h1>Send a sample invoice to yourself</h1>
</p>

<p>

View the dashboard

</p>


<p>

Collect payment through 44 payment gateway.

</p>



<p>

Collect payment through 44 payment gateway.

</p>
